
button{
    border: none;
    color: white;
    background-color: #A491D2;
    width: 150px ;
    height: 50px;
    
}
p{
    line-height: 0%;
}
.img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 2px solid gray;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    justify-content: space-around;
}

.flex-item-left{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: white;
}
.flex-item-box-icons{
    display: flex;
    align-items: center;
    padding-left: 15%;
    
}
.flex-item-box-icons i{
    color: gray;
    padding-left: 10%;
}


.flex-item-box-profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid gray;
    padding: 4% 0% 4% 0%;
}
.imgprofile{
    height:50px ;
    width: 50px ;
    border-radius: 100%;
    border: 2px solid gray;
    
}

.flex-item-box0{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}

.flex-item-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 4% 25% 4% 17%;
    border: 1px solid gray;
}


.flex-item-box-special{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 11% 15%;
    border: 1px solid gray;
}


.flex-item-box-button{
    padding: 25px 0;
}


.flex-item-box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    line-height: 1;
    
}
.flex-item-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    background-color: white;
}
.flex-item-right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.flex-item-right-picture-hand{
    width: 380px;
    height: 380px;
    border-radius: 5%;

}

.flex-item-right-box-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}




